<h3 style="color:green">{{{mensaje}}}</h3>
<h1>Estado académico (Módulo Reporte de notas)</h1>
<form action="academic_status" method="post">
  <textarea name="data" rows="8" cols="80"></textarea><br>
  <input type="submit" value="Registrar mi estado académico">
</form>
<h1>Datos de cursos actuales (Módulo Notas por componentes)</h1>
<form action="course_data" method="post">
  <textarea name="data" rows="8" cols="80"></textarea><br>
  <input type="submit" value="Registrar o actualizar cursos">
</form>
<h1>Datos de notas actuales (Módulo Notas por componentes)</h1>
<form action="nota_data" method="post">
  <textarea name="data" rows="8" cols="80"></textarea><br>
  <input type="submit" value="Registrar o actualizar notas">
</form>
<h1>Cerrar sesión</h1>
<form action="logout" method="post">
  <input type="submit" value="Cerrar sesión">
</form>
