<h1>{{{title}}}</h1>
<form action="register" method="post">
  <input type="number" name="id_alumno" placeholder="ID UPAO" value="000082442">
  <input type="password" name="password" placeholder="Crea una contrase침a" value="abc">
  <select name="id_carrera">
    <option>Selecciona tu carrera</option>
    {{#each carreras}}
    <option value="{{codigo}}">{{nombre}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Registrarme">
</form>
<form action="carrera" method="post">
  <input type="number" name="id_alumno" placeholder="ID UPAO">
  <input type="password" name="password" placeholder="Contrase침a">
  <input type="submit" value="Ingresar">
</form>
<!-- COMPONENTE 1 -->
M칩dulo Reporte de notas:<br>
<form action="extraccion_data_alumno" method="post">
  <textarea name="data" rows="8" cols="80"></textarea><br>
  <input type="submit" value="Registrar datos">
</form>
<!-- COMPONENTE 2 -->
M칩dulo Notas por componentes:<br>
<form action="saveNC" method="post">
  <textarea name="contentNC" rows="8" cols="80"></textarea><br>
  <input type="submit" value="Guardar en el servidor">
</form>
